<div>
    <div>
        <div class=" text-center text-gray-900 font-semibold text-2xl">Top Proffesionals</div>
        <div class="flex flex-col items-center my-6" *ngFor="let user of users">
            <!--First post-->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-1 my-3 max-w-md">
                <div><img class="rounded-md w-screen md:w-48 h-48 object-contain"
                        src="{{ user.photo }}" alt="{{ user.fullName }}"></div>
                <div class="p-4 md:p-0">
                    <div class="text-xl font-gray-900">{{ user.fullName }}</div>
                    <div class="text-lg italic">{{ user.profession }}</div>
                    <div class="text-sm">
                        Awesome Creator!!
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>