<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="mother">
    <div id="home" class="container-fluid bg-gradient-to-b from-green-500 to-blue-400">
      <!-- <nav class="flex justify-between">
        <div class="left_side">
          <a routerLink="/home" class="flex space-x-2 ml-4">
            <img class="w-10 mr-2 bg mt-2 lg:mt-0" src="../../assets/img/home/brand.png" alt="">
            <span class="mt-3 lg:mt-0 font-semibold text-xl tracking-tight" style="color: rgb(253, 209, 97); font-family: 'Lobster'; font-size: 30px;">Event Cooker</span>
          </a>
        </div>
    
        <div class="middle_side flex space-x-4 px-3">
            <a routerLink (click)="onClick('home')" class="mt-4 lg:mt-0">Home</a>
            <a routerLink (click)="onClick('services')" class="mt-4 lg:mt-0">Service</a>
            <a routerLink (click)="onClick('details')" class="mt-4 lg:mt-0">Contact</a>
            <a routerLink (click)="onClick('details')" class="mt-4 lg:mt-0">Details</a>
        </div>
    
        <div class="right_side flex space-x-4 mr-4">
          <a class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0" routerLink="/login" routerLinkActive="router-link-active" >Log In</a>
          <a class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0" routerLink="/user" routerLinkActive="router-link-active" >User</a>
          <a class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0" routerLink="/admin" routerLinkActive="router-link-active" >Admin</a>
        </div>
      </nav> -->
    
      <div class="intro container-fluid lg:p-10">
        <span class="font-bold text-5xl text-uppercase text-yellow-50">A Place, You can arrange all event by Event Cooker</span>
        <div class="intro-bottom text-white">
          <p class="text-xl">
            Here you have found here, all professional photographers, cinematographer, musician, dance team, beauty parlour, catering, voice artist and decorator. You can also be a part of our community, go with "be a freelancer" below.
          </p>
          <div class="bottom-button mt-10 flex justify-end">
            <button class="py-2 px-4 shadow-sm text-sm font-medium rounded-md text-white bg-green-400 ml-4 text-uppercase" routerLink="/register">Become a freelancer</button>
          </div>
        </div>
      </div>
    </div>
    <div id="services">
      <app-our-services></app-our-services>
    </div>
    <div id="details" class="footer">
      <app-footer></app-footer>
    </div>
  </div>

</body>
</html>