<!-- JQUERY AND NORMALIZED CSS INSTALLED
View settings for more info. -->
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="formContainer">
	
        <div class="formLeft">
            <img src="../../assets/img/home/brand.png">
        </div>
        <div class="formRight">
            <!-- Forgot password form -->
            <form >
                <header>
                    <h1>Forgot Password</h1>
                    <p>Seems like your password is missing</p>
                </header>
                <section>
                    <label>
                        <p>Email</p>
                        <input type="email" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit" routerLink="/login">Send email</button>
                </section>
                <footer>
                    <button type="button" class="forgotBtn" routerLink="/home">Back</button>
                </footer>
            </form>
            
            

        </div>
        
    </div>
</body>