
<mat-nav-list>
    <div class="event">
        <h1 style="color: goldenrod;font-family: 'Lobster';font-size: 40px;">Event Cooker</h1>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATION</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLink="/photographer" routerLinkActive="list-item-active" >
        <mat-icon>edit</mat-icon>Photographer
    </a>
    <a mat-list-item routerLink="/cinemetographer" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon>Cinemetographer
    </a>
    <a mat-list-item >
        <mat-icon>edit</mat-icon>Spa
    </a>
    <a mat-list-item >
        <mat-icon>edit</mat-icon>Dress
    </a>
</mat-nav-list>