<div class="container ">
    <h1>Equipments</h1>
    <div class="row">
        <div class="col-3" *ngFor="let equipment of equipments">
            <button type="button" (click)="openModal()">
                <div class="mb-4 bg-gray-100 flex justify-between items-center">
                    <div
                        class="w-60 rounded-md cursor-pointer shadow-lg overflow-hidden hover:shadow-xl transform hover:scale-105 duration-500">
                        <img src="https://ipt.imgix.net/206728/x/0/"
                            alt="" />
                        <div class="p-4 bg-white">
                            <span class="text-sm font-semibold text-red-50 bg-red-400 py-1 px-3 rounded-full">-30%</span>
                            <h1 class="mt-4 font-bold text-2xl">Camera</h1>
                        </div>
                    </div>
                </div>
            </button>
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Equipment Details</h4>
                            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <app-equipment-details></app-equipment-details>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>