.header{
    font-style: 'Baloo Bhaijaan 2', cursive;
    font-size: 40px;
    color: green;
    padding: 20px;
}

mat-divider{
    border-top-width: 3px;
    border-color: black;
    margin-bottom: 40px;
}

.personal_info { 
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: 600;
    }
    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 700;
    }
}