<!-- component -->
<div class="mother">
    <div class="h-60"></div>
    <div class="bg-white w-full shadow rounded sm:p-12 -mt-72">
        <p class="text-2xl font-bold leading-7 text-center">Post Here</p>
        <form [formGroup]="userForm" (ngSubmit)="createEquipment()">
            <div class="w-full md:w-full flex flex-col">
                <label class="font-semibold leading-none">Name</label>
                <input formControlName="name" type="text"
                    class="leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 bg-gray-100 border rounded border-gray-200" />
            </div>
            <div class="w-full md:w-full flex flex-col">
                <label class="font-semibold leading-none">Model</label>
                <input formControlName="model" type="text"
                    class="leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 bg-gray-100 border rounded border-gray-200" />
            </div>
            <div class="md:flex items-center">
                <div class="w-full flex flex-col">
                    <label class="font-semibold leading-none mt-1">Photo</label>
                    <input formControlName="photo" type="text"
                        class="leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 bg-gray-100 border rounded border-gray-200" />
                </div>
            </div>
            <div class="w-full md:w-full flex flex-col">
                <label class="font-semibold leading-none">Weight</label>
                <input formControlName="weight" type="text"
                    class="leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 bg-gray-100 border rounded border-gray-200" />
            </div>
            <div>
                <div class="w-full flex flex-col">
                    <label class="font-semibold leading-none mt-1">Content</label>
                    <textarea formControlName="description" type="text"
                        class="h-40 text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-blue-700 bg-gray-100 border rounded border-gray-200"></textarea>
                </div>
            </div>
            <div class="flex items-center justify-center w-full">
                <button class="btn btn-primary mt-2 p-2">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>