<!-- component -->
<h1>Notifications</h1>
<table class="border-collapse w-full">
    <thead>
        <tr class="text-center">
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Post Title</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Proposal</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Employee Name</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Status</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let notification of notifications" class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Company name</span>
                {{notification.title}}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Company name</span>
                {{notification.proposal}}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Country</span>
                {{notification.name}}
            </td>
          	<td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Status</span>
                <span *ngIf="notification.status" class="rounded bg-green-400 py-1 px-3 text-xs font-bold">Active</span>
                <span *ngIf="!notification.status" class="rounded bg-red-400 py-1 px-3 text-xs font-bold">Deactive</span>
          	</td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Actions</span>
                <button (click)="assignation(notification.profId, notification.postId)" *ngIf="notification.approval" class="btn btn-primary">Assign</button>
                <div *ngIf="!notification.approval">
                    <span *ngIf="isAssign(notification)" class="rounded bg-green-400 py-1 px-3 text-xs font-bold">{{ confirmation }}</span>
                    <div *ngIf="!isAssign(notification)">
                        <span class="rounded bg-red-400 py-1 px-3 text-xs font-bold">{{ confirmation }}</span>
                        <button class="btn btn-warning ml-2">Refuse</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>