<!-- JQUERY AND NORMALIZED CSS INSTALLED
View settings for more info. -->
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="formContainer">
	
        <div class="formLeft">
            <img src="https://images.pexels.com/photos/555790/pexels-photo-555790.png?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
        </div>
        <div class="formRight">
            <!-- Forgot password form -->
            <form id="forgot" class="otherForm">
                <header>
                    <h1>Forgot Password</h1>
                    <p>Seems like your password is missing</p>
                </header>
                <section>
                    <label>
                        <p>Email</p>
                        <input type="email" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit">Send email</button>
                </section>
                <footer>
                    <button type="button" class="forgotBtn">Back</button>
                </footer>
            </form>
            
            <!-- Login form -->
            <form id="login">
                <header>
                    <h1>Welcome back</h1>
                    <p>Login to continue</p>
                </header>
                <section>
                    <label>
                        <p>Username</p>
                        <input type="text" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>Password</p>
                        <input type="password" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit">Login</button>
                </section>
                <footer>
                    <button type="button" class="forgotBtn">Forgot password?</button>
                    <button type="button" class="registerBtn">Need an account?</button>
                </footer>
            </form>
            
        <!-- Register form -->
            <form id="register" class="otherForm">
                <header>
                    <h1>Become a Bro</h1>
                    <p>Register to gain full access</p>
                </header>
                <section>
                    <label>
                        <p>Username</p>
                        <input type="text" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>Email</p>
                        <input type="email" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>Password</p>
                        <input type="password" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>Repeat Password</p>
                        <input type="password" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit">Register</button>
                </section>
                <footer>
                    <button type="button" class="registerBtn">Back</button>
                </footer>
            </form>
        </div>
        
    </div>
</body>