<!-- JQUERY AND NORMALIZED CSS INSTALLED
View settings for more info. -->
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="formContainer">
        <div class="formLeft">
            <img src="../../assets/img/home/brand.png">
        </div>
        <div class="formRight">
            <!-- Login form -->
            <form id="login">
                <header>
                    <h1>Welcome back</h1>
                    <p>Login to continue</p>
                </header>
                <section>
                    <label>
                        <p>Username</p>
                        <input type="text" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>Password</p>
                        <input type="password" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <a routerLink="/user/photographer"><button type="submit" routerLink="/user/photographer">Login</button></a>
                </section>
                <footer>
                    <button type="button" class="forgotBtn" routerLink="/forgot">Forgot password?</button>
                    <button type="button" class="registerBtn" routerLink="/register">Need an account?</button>
                </footer>
            </form>
        </div>
    </div>
</body>