.header{
    font-style: 'Baloo Bhaijaan 2', cursive;
    font-size: 40px;
    color: green;
    padding: 20px;
}

mat-divider{
    border-top-width: 3px;
    border-color: black;
    margin-bottom: 40px;
}