<footer class="footer">
    <div class="upper p-10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <h4>Support</h4>
                    <ul>
                        <li>Help Center</li>
                        <li>Safety information</li>
                        <li>Cancellation options</li>
                        <li>Our COVID-19 Response</li>
                        <li>Supporting people with</li>
                        <li>Disabilities</li>
                        <li>Report a neighborhood concern</li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Community</h4>
                    <ul>
                        <li>Disaster relief housing</li>
                        <li>Support Afghan refugees</li>
                        <li>Celebrating diversity & belonging</li>
                        <li>Combating discrimination</li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Hosting</h4>
                    <ul>
                        <li>Try hosting</li>
                        <li>Protection for Hosts</li>
                        <li>Explore hosting resources</li>
                        <li>Visit our community forum</li>
                        <li>How to host responsibly</li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>About</h4>
                    <ul>
                        <li>Newsroom</li>
                        <li>Learn about new features</li>
                        <li>Letter from our founders</li>
                        <li>Careers</li>
                        <li>Investors</li>
                        <li>Airbnb Luxe</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lower border-t-2">
        <div class="container mt-3">
            <nav class="flex justify-between">
                <div class="left-side">
                    &copy; {{year}} Event Cooker, Inc . Privacy . Terms . Sitemap
                </div>
                <div class="right-side flex justify-between">
                    <div class="language flex justify-between">
                        <i class="bi bi-globe ml-2"></i>
                        <h4 class="ml-2">English(US)</h4>
                    </div>
                    <div class="currency flex justify-between">
                        <span class="ml-3">$</span>
                        <h4 class="ml-1 font-bold">USD</h4>
                    </div>
                    <div class="social-site flex justify-between">
                        <i class="bi bi-facebook ml-4"></i>
                        <i class="bi bi-twitter ml-2"></i>
                        <i class="bi bi-instagram ml-2"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</footer>