.upper {
    h4{
        color: white;
        font-size: large;
        font-weight: 500;    
    }
    li{
        font-size: 15px;
        font-weight: 400;
    }
}

.lower {
    h4{
        font-size: 15px;
        font-weight: 500;
    }
    .left-side{
        font-size: 15px;
        font-weight: 400;
    }
    span, i {
        font-size: large;
    }
}