.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 160px;
}
  
  .column1 {
    flex: 20%;
  }

  .column2 {
    flex: 60%;
    width: fit-content;
    text-align: center;
  }

  .column3 {
    flex: 20%;
  }