.columns {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.column1 {
    flex: 20%;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    height: 100vh;

    &::-webkit-scrollbar {
        display: none;
    }
}

.column2 {
    flex: 80%;
    margin-left: 22%;
}