.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 160px;
}
  
.column1 {
    flex: 20%;
    display: block;
}

.column2 {
    flex: 80%;
    width: fit-content;
    text-align: center;
}