<mat-nav-list>
    <div class="event">
        <h1 style="color: goldenrod; font-family: 'Lobster'; font-size: 30px;">Event Cooker</h1>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATION</h2>
    <a class="text-white" mat-list-item routerLink="/admin/admin-dashboard" routerLinkActive="list-item-active" >
        <mat-icon>edit</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLink="/admin/user-management" routerLinkActive="list-item-active" >
        <mat-icon>edit</mat-icon>User Management
    </a>
    <a mat-list-item routerLink="/admin/user-management" routerLinkActive="list-item-active" >
        <mat-icon>edit</mat-icon>User Management
    </a>
    <a mat-list-item routerLink="/admin/user-management" routerLinkActive="list-item-active" >
        <mat-icon>edit</mat-icon>User Management
    </a>
</mat-nav-list>